.photo-grid{
    margin: auto;
    margin-bottom: 5.75rem;
    display: grid;
    width: 93%;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: repeat(2 , 1fr);
    grid-gap: 1rem;
}