.places__muramvya-image-container{
    width: 45%;
    height: fit-content;
    margin: 0;
    margin-right: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.places__muramvya-image{
    width: 100%;
    height: fit-content;
}