/* import vendor at-rules*/
@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);

/* import root at-rules*/
@import url(../blocks/root/root.css);

/* import logo at-rules*/
@import url(../blocks/logo/logo.css);
@import url(../blocks/logo/__image/logo__image.css);

/* import header at-rules*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__image/header__image.css);

/* import intro at-rules*/
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__title/intro__title.css);
@import url(../blocks/intro/__quote/intro__quote.css);
@import url(../blocks/intro/__text/intro__text.css);

/* import photo-grid at-rules*/
@import url(../blocks/photo-grid/photo-grid.css);

/* import places at-rules*/
@import url(../blocks/places/places.css);

/* import places__kiev at-rules*/
@import url(../blocks/places/__kiev/places__kiev.css);
@import url(../blocks/places/__kiev/_title/places__kiev_title.css);
@import url(../blocks/places/__kiev/_artista/places__kiev_artista.css);
@import url(../blocks/places/__kiev/_image/places__kiev_image.css);
@import url(../blocks/places/__kiev/_paragraph/places__kiev_paragraph.css);
@import url(../blocks/places/__kiev/_link/places__kiev_link.css);

/* import places__criccieth at-rules*/

/* import places__berea at-rules*/
@import url(../blocks/places/__berea/places__berea.css);
@import url(../blocks/places/__berea/_title/places__berea_title.css);
@import url(../blocks/places/__berea/_artista/places__berea_artista.css);
@import url(../blocks/places/__berea/_image/places__berea_image.css);
@import url(../blocks/places/__berea/_paragraph/places__berea_paragraph.css);
@import url(../blocks/places/__berea/_link/places__berea_link.css);


/* import places__muramvya at-rules*/
@import url(../blocks/places/__muramvya/places__muramvya.css);
@import url(../blocks/places/__muramvya/_title/places__muramvya_title.css);
@import url(../blocks/places/__muramvya/_artista/places__muramvya_artista.css);
@import url(../blocks/places/__muramvya/_image/places__muramvya_image.css);
@import url(../blocks/places/__muramvya/_paragraph/places__muramvya_paragraph.css);
@import url(../blocks/places/__muramvya/_link/places__muramvya_link.css);

*{
    outline: 2px solid rgb(0, 208, 255);
}






.places__criccieth{
    width: 100%;
    height: fit-content;
    margin: auto;
    display: flex;
    flex-wrap: wrap; 
    margin-bottom: 8%;
}

.places__criccieth-title-container{
    width: 45%;
    height: 152px;
    margin: 0;
    margin-right: 4%;
}
.places__criccieth-title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.06;
    color: #FFFFFF;
    margin: 0;

}

.places__criccieth-artista-container{
    width:fit-content;
    height: fit-content;
    margin-top: 8.5%;
}

.places__criccieth-artista-heading{
    width: fit-content;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.2;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #AAAAAA;
    margin: 0;
    margin-bottom: 2%;
}

.places__criccieth-artista{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.22;
    color: #FFFFFF;
    margin: 0;
}

.places__criccieth-image-container{
    width: 45%;
    height: fit-content;
    margin: 0;
    margin-right: 4%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.places__criccieth-image{
    width: fit-content;
    height: fit-content;
}

.places__criccieth-paragraph-container{
    width: 51%;
    height: fit-content;
    margin: 0;
    margin-top: 5%;
}

.places__criccieth-paragraph-1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
    margin: 0;
}

.places__criccieth-paragraph-2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
    margin: 0;
    margin-top: 5%;
}

.places__criccieth-link{
    width: 33%;
    background: #0278FE;
    border-radius: 4px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    color: #FFFFFF;
    text-align: center;
}

.places__criccieth-link:hover{
    background-color: #0063D2;
}









